

.inline-block{
    display: inline-block;
    font-size: 14px;
    padding: 20px;
    vertical-align: top;    
}

.logo{
    width: 23%;
    padding:1%;
}

nav{
    width: 73%;
    padding: 1%;
}

nav ul{
    width: 50%;
    margin-left: auto;
}